side-menu {
	position: absolute;
	width: 100%;
	height: 100%;

	webkit-transform: translateX(100%);
	transform: translateX(100%);
	webkit-transition: all .3s;
	transition: all .3s;
	z-index: 10;

	&.active {
		webkit-transform: translateX(0);
		transform: translateX(0);
	}

	.side-menu {
		/* background: #1dc4c2 url(../img/logo.png) center 4.35em / 140px 73px no-repeat scroll; */
		background-color: #1dc4c2;
		height: 100%;
		overflow-y: auto;
		padding: 0 1.64em;
		position: absolute;
		right: 0;
		width: 18.35em;

		.side-menu__bg {
			background: url(../img/logo.png) center center / 140px 73px no-repeat scroll transparent;
			box-sizing: content-box;
			height: 73px;
			padding: 4em 0;
		}

		.side-menu__item {
			border-top: 1px solid #6cd9d7;
			display: block;
			padding: 1.78em 0;
			text-align: center;
			z-index: 20;

			&:last-of-type {
				border-bottom: 1px solid #6cd9d7;
				margin-bottom: 10em;
			}

			span {
				color: #fff;
				font-size: 1.07em;
				font-family: $textB;
			}
		}
	}
}
