<div class="side-menu">
	<div class="side-menu__bg"></div>

	<a class="side-menu__item" ng-href="#/allOrders"><span>Главная</span></a>
	<a class="side-menu__item" ng-href="#/newOrders"><span>Новые заказы</span></a>
	<a class="side-menu__item" ng-href="#/waiterOrders"><span>Мои заказы</span></a>
	<a class="side-menu__item" ng-href="#/createOrder"><span>Создать заказ</span></a>
	<a class="side-menu__item" ng-href="#/clientSelect"><span>Скан карты</span></a>
	<a class="side-menu__item" ng-href="#/dishSelect/null"><span>Меню</span></a>
	<a class="side-menu__item" ng-click="exit()" ng-hide="exitButtonHide"><span>Выход</span></a>
</div>
