.buttons-block {
  display: inline-block;
}
.button {
  font-size: 1em;
  width: 100%;
  height: 3.57em;
  padding: 0 1.25em;
  margin: 1em 0;
  border-radius: .4em;
  color: $buttonText;
  span {
    font-size: .91em;
    font-family: $textB;
  }
  &.button--true {
    background-color: $buttonColor;
  }
  &.button--false {
    background-color: $buttonColor2;
  }
  &.button--inline {
    float: right;
  }
}
.add-dish {
  display: inline-block;
  padding-left: 2em;
  padding-top: .7em;
  margin: 1em 1em;
  height: 2.3em;
  background: url(../img/item_plus.png) center left/21px 21px no-repeat;
  .text {
    font-size: .91em;
    font-family: $textB;
  }
}
