.header-of-page {
  width: 100%;
  margin: 1.91em 0;
  text-align: center;
  font-family: $textH;
  span {
    margin-top: .1em;
    display: inline-block;
    font-size: 1.16em;
    vertical-align: middle;
    color: $regText;
  }
  div {
     position: relative;
     display: inline-block;
    .orders__badge {
      position: absolute;
      border-radius: 500px;
      width: 1em;
      height: 1em;
      top: -.3em;
      right: -.6em;
      background-color: $mainColor;
      span {
        font-size: .75em;
        display: inline-block;
        vertical-align: top;
        padding-top: .3em;
        margin: 0;
        color: $buttonText;
      }
    }
  }

}
.header {
  padding: 1em 1.07em;
  text-align: center;
  background-color: #32475c;
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  &.center {
    @include justify-content(center);
  }
  &.click {
    background: #32475c url("../img/edit.png") 95% center/14px 14px no-repeat;
  }
  &.header--my-orders {
    background-color: $mainColor;
    .orders__badge {
      background-color: $mainColor2;
    }
  }
  div {
    display: inline-block;
    font-size: 1.08em;
    color: $buttonText;
    font-family: $textB;
    position: relative;
    vertical-align: middle;
    &.user-name {
      padding-right: 2em;
      padding-top: .5em;
    }
    &.click {
      background: url("../img/edit_alt.png") 90% 50%/14px 14px no-repeat;
      padding-right: 2.3em;
      padding-top: .5em;
    }
    &.left-float {
      float: left;
    }
    &.right-float {
      float: right;
    }
    span {
      font-size: 1.25em;
      margin-top: .2em;
      display: inline-block;
    }
  }
  .table-number {
      border: 2px rgb(29, 196, 194) solid;
      border-radius: .5em;
      width: 4.9em;
      height: 2.7em;
    input {
      background-color: transparent;
      width: 100%;
      border: none;
      color: $buttonText;
      padding: 0 0 0 .5em;
      text-align: center;
    }
  }
  .orders__badge {
    position: absolute;
    border-radius: 500px;
    width: 1em;
    height: 1em;
    top: -.3em;
    right: -.6em;
    background-color: $mainColor;
    span {
      font-size: .64em;
      display: inline-block;
      vertical-align: top;
      padding-top: .3em;
      margin: 0;
    }
  }
}