.your-bonus {
  margin: 1.5em;
  padding: 3.6em 0 0;
  border-top: 1px solid #d6d6d6;
  text-align: center;
}
.your-bonus__text {
  margin: 1.6em 0;
  font-family: $textB;
  font-size: .91em;
}
.your-bonus__button {
  height: 2.54em;
  min-width: 7.75em;
  margin: 1.6em 0;
}