$regText:				#000;		// text color
$background:			#fff;		// backgrounds
$buttonColor:			#1dc4c2;	// button's color
$buttonColor2:			#9b9b9b;	// button's color
$buttonText:			#fff;		// button's text color
$buttonText2:			#fff;		// button's text color
$mainColor:				#1dc4c2;	// theme color
$mainColor2:			#32475c;	// theme color
$top-menu-height:		4.28em;		// height of top-menu
$bottom-menu-height:	5em;		// height of top-menu

$text:					MuseoSansCyrl-300;
$textM:					MuseoSansCyrl-500;
$textB:					MuseoSansCyrl-700;
$textH:					MarkerFelt-Thin;
